.header {
  position: relative;
  z-index: 9999;

  &__inner {
    @include col();
    @include size(14);
    position: relative;
    display: flex;
    padding: 30px 0;
  }
}

.menu-button {
  position: absolute;
  right: 0;
  outline: 0;
  z-index: 9999;
}

@media screen and(max-width: $break_sm) {

  .header {
    transform: none;
  }
}