.header {
  transform: translateY(-100px);
  position: relative;
  z-index: 9999;

  &__inner {
    @include col();
    @include size(14);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
}

.hamburger {
  position: relative;
  outline: 0;
  z-index: 9999;
}