.header {
  position: relative;
  z-index: 9999;

  &__inner {
    @include col();
    @include size(14);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
}

.menu-button {
  position: relative;
  outline: 0;
  z-index: 9999;
  transform: translateY(-100px);
}

@media screen and(max-width: $break_sm) {
  .menu-button {
    transform: none;
  }
}