.hero {

  &__info, &__presentation {
    @include col();
    @include size(7);
  }

  &__presentation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: $heroTitleFontFamily;
    position: relative;
    font-size: 3.33333em;
    word-wrap: break-word;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 85px;
      height: 85px;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
      background: url('../assets/img-guru.jpg.png') no-repeat center;
      background-size: cover;
    }
  }

  &__description {
    color: $heroDescriptionColor;
    font-size: 1em;
  }

  &__keyword {
    position: relative;

    .border {
      display: block;
      position: absolute;
      height: 16px;
      width: 98%;
      background-color: $keywordDecorationColor;
      left: 1%;
      bottom: 20%;
      z-index: -1;
    }
  }

  &__video-outer {
    position: absolute;
    width: 410px;
    height: 270px;
    background: #FFFFFF;
    left: 100px;
    top: 80px;
    z-index: -1;
    overflow: hidden;
  }

  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.parallax {
  position: relative;

  &__layer {
    position: absolute;
    top: 0;

    &--macbook {
      position: relative;
      z-index: 2;
    }
  }
}
