@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf");
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothaProReg.otf");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("/fonts/GothaProBol.otf");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("/fonts/GothaProMed.otf");
}