$malibu: #7ab9ff;
$outerSpace: #2E3438;
$flint: #6d6963;
$osloGray: #959899;

$defaultFonts: Roboto, Geneva, Arial, Helvetica, sans-serif;
$heroTitleFontFamily: "Gotham Bold", $defaultFonts;
$navigationFontFamily: "Gotham Medium", $defaultFonts;
$optionTitleFontFamily: "Gotham", $defaultFonts;